@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    height: 500px;
    gap: 10px;
    width: 80%;
}

.panel {
    border-radius: 20px;
    width: 100px;
    transition: flex-grow 1s linear;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
}

.panel.active {
    flex-grow: 1;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transform: translateX(-150%);
    transition: 1s linear;
}

.panel.active h3 {
    transition-delay: .5s linear;
    transform: translateX(0);
    opacity: 1;
}